  <footer>
    <!-- LOGO -->
    <img class="logo left-page-margin" src="logo-peak-white-webapplikation.svg" alt="Peaks-Logo">

    <!-- INFO -->
    <div class="right-page-margin">
      <p><a href="mailto:contact@peaks.ch">contact@peaks.ch</a></p>
      <p>Copyright © 2024 Peaks. All rights reserved.</p>
    </div>

  </footer>
  </body>
</html>