<html>
  <head>
    <!-- STYLESHEET EINBINDEN -->
    <link rel="stylesheet" href="style.css" />

    <!-- FONT EINBINDEN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- FEATHER-ICONS EINBINDEN -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  </head>

  <body>
    <header>
        <!-- LOGO -->
        <a href="start">
          <img class="logo left-page-margin" src="logo-peak-black-webapplikation.svg" alt="Peaks-Logo">
        </a>
    
        <!-- NAVIGATION -->
        <nav class="right-page-margin">
            <ul>
                <li class="current-page"><a href="start">Home</a></li>
                <li class="nav-margin"><a href="routes">Routes</a></li>
                <li class="nav-margin"><a href="login">Account</a></li>
            </ul>
        </nav>
    </header>