<html>
  <head>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <header>
        <!-- Logo -->
        <img src="" alt="Peaks-Logo">
    
        <!-- Navigation -->
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Routes</a></li>
                <li><a href="">Account</a></li>
            </ul>
        </nav>
    </header>