<html>
  <head>
    <!-- STYLESHEET EINBINDEN -->
    <link rel="stylesheet" href="main.css" />

    <!-- FONT EINBINDEN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
        <!-- LOGO -->
        <img class="logo" src="uploads/logo-peak-black-webapplikation.svg" alt="Peaks-Logo">
    
        <!-- NAVIGATION -->
        <nav>
            <ul>
                <li class="current-page"><a href="">Home</a></li>
                <li><a href="">Routes</a></li>
                <li><a href="">Account</a></li>
            </ul>
        </nav>
    </header>