<form action="/register" enctype="multipart/form-data" method="post">
  Username:
  <input type="text" name="username" /><br />
  Password:
  <input type="password" name="password" /><br />
  Image:
  <input type="text" name="image_url" /><br />
  <input type="submit" />
</form>