<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PEAKS</title>
  </head>

  <body>

    <!-- BODY: Bindet den "body"-Partial in die aktuelle Vorlage ein. -->
    {{{body}}}

  </body>

</html>