<!-- CSS -->
<style>.current-page-account { font-weight: 900; }</style>

<!-- HEADER -->
{{> header}}

<div class="form-complete">
  <!-- TITEL -->
  <h1>Account</h1>

  <!-- EDIT -->
  <a href="/edit-account/{{id}}">Edit Account</a>

  <!-- LOGOUT-BUTTON -->
  <button><a href="/logout">→ LOGOUT</a></button>
</div>

<!-- HINTERGRUNDBILD -->
<img class="intro-image" src="intro-image-shadow.jpg" alt="Hintergrundbild mit grossem Berg"></div>

<!-- FOOTER -->
{{> footer}}