<!-- CSS -->
<style>.current-page-account { font-weight: 900; }</style>

<body class="login-page">
  
  <!-- HEADER: Bindet den "header"-Partial in die aktuelle Vorlage ein. -->
  {{> header}}

  <!-- HINTERGRUNDBILD -->
  <div class="background-image">
    <img src="background-image-login-register-account-1440x1024.jpg" alt="Hintergrundbild mit grossem Berg">
  </div>

  <div class="form-complete">
    <!-- TITEL -->
    <h1>Account</h1>

    <!-- EDIT -->
    <div class="edit-account-2">
      <a href="/edit-account/{{id}}">Edit Account</a>
    </div>

    <!-- LOGOUT-BUTTON -->
    <button><a href="/logout">→ LOGOUT</a></button>
  </div>

  <!-- FOOTER: Bindet den "footer"-Partial in die aktuelle Vorlage ein. -->
  {{> footer}}

</body>
