<!-- CSS -->
<style>.current-page-routes { font-weight: 900; }</style>

<!-- HEADER -->
{{> header}}

<!-- HINTERGRUNDBILD + TITEL -->
<div class="routes-hero">
    <!-- HINTERGRUNDBILD -->
    <img class="routes-intro-image" src="hero-image-routes-1440x400.jpg" alt="Mountains">

    <!-- TITEL -->
    <h1 class="title-routes left-page-margin">Routes</h1>
</div>

<!-- BUTTONS -->
<div class="routes-buttons">
    <!-- FILTER -->
    <button class="solid icon-button left-page-margin"><a href=""><i data-feather="filter"></i>Filter</a></button>

    <!-- FAVORITES -->
    <button class="solid icon-button right-page-margin"><a href=""><i data-feather="star"></i>Favorites</a></button>
</div>

<!-- INTRO-TEXT -->
<p class="   left-page-margin right-page-margin">Switzerland is a paradise for outdoor enthusiasts, offering a vast network of trails that span the country's stunning landscapes. Whether you're an avid hiker, passionate jogger, cycling enthusiast, or mountain biking aficionado, Switzerland has something for everyone. From tranquil lakeside strolls to challenging alpine ascents, these routes provide not only a test of endurance but also a feast for the eyes. Explore the beauty of Switzerland through these carefully selected routes, each offering a unique way to experience the diverse natural wonders of this remarkable country.<br>In this guide, we've curated three examples from four popular outdoor activities - hiking, jogging, cycling, and mountain biking. Each route has been evaluated based on difficulty, time required, length, and elevation gain. Whether you're planning a leisurely day out or an adventurous challenge, these routes are sure to inspire your next outdoor adventure.</p>

<!-- HIKING -->
<div class="left-page-margin right-page-margin">
    <div class="routes-titles">
        <h2>Hiking</h2>
        <hr>
    </div>

    <!-- FIVE LAKES -->
    <div class="routes-card">
        <!-- THUMBNAIL -->
        <img class="card-img" src="thumbnail-five-lakes-325x200.jpg" alt="Five Lakes">
        <!-- TITLE -->
        <h3 class="card-title">Five Lakes</h3>
        <!-- DESCRIPTION -->
        <p class="card-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed...</p>
        <!-- BUTTON -->
        <button class="card-button solid"><a href="/five-lakes">→ EXPLORE</a></button>
        <!-- FAVORIT -->
        <form action="/favorite/{{id}}" enctype="multipart/form-data" method="POST">
            <input type="submit" value="FAVORIT">
        </form>
    </div>
 
</div>

<!-- JOGGING -->

<!-- CYCLING -->

<!-- MOUNTAIN-BIKING -->

<script>
    feather.replace();
</script>

<!-- FOOTER -->
{{> footer}}