<!-- HEADER -->
{{> header}}

<!-- TITEL -->
<h1 class="title-main left-page-margin">Explore Your<br>Next Adventure</h1>

<!-- UNTERTITEL -->
<p class="title-description left-page-margin">Discover and share the best outdoor routes near you!</p>

<!-- BUTTON -->
<button class="left-page-margin"><a href="">→ EXPLORE</a></button>

<!-- HINTERGRUNDBILD -->
<img class="intro-image" src="intro-image-shadow.jpg" alt="Hintergrundbild mit grossem Berg">

{{> footer}}