<!-- HEADER -->
{{> header}}

<!-- TITEL -->
<h1 class="title-main">Explore Your<br>Next Adventure</h1>

<!-- UNTERTITEL -->
<p class="title-description">Discover and share the best outdoor routes near you!</p>

<!-- BUTTON -->
<button><a href="">→ EXPLORE</a></button>

<!-- HINTERGRUNDBILD -->
<img src="" alt="Hintergrundbild mit grossem Berg">

{{> footer}}