<!-- CSS -->
<style>.current-page-home { font-weight: 900; }</style>

<body class="home-page"></body>
<div class="content-wrapper">

<!-- HEADER: Bindet den "header"-Partial in die aktuelle Vorlage ein. -->
{{> header}}

<!-- TITEL -->
<h1 class="title-main left-page-margin">Explore Your<br>Next Adventure</h1>

<!-- UNTERTITEL -->
<p class="title-description left-page-margin">Discover and share the best outdoor routes near you!</p>

<!-- BUTTON -->
<button class="left-page-margin"><a href="routes">→ EXPLORE</a></button>

<!-- HINTERGRUNDBILD -->
<img class="intro-image" src="background-image-home-1440x1024.jpg" alt="Hintergrundbild mit grossem Berg">
</div>

<!-- FOOTER: Bindet den "footer"-Partial in die aktuelle Vorlage ein. -->
{{> footer}}

</body>
  