<!-- Header -->
{{> header}}

<!-- Titel -->
<h1>Explore Your Next Adventure</h1>

<!-- Untertitel -->
<p>Discover and share the best outdoor routes near you!</p>

<!-- Button -->
<button><a href="">→ EXPLORE</a></button>

<!-- Hintergrundbild -->
<img src="" alt="Hintergrundbild mit grossem Berg">

{{> footer}}
