* {
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

h2 {
  font-size: 42px;
  font-weight: 900;
}

h3 {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

hr {
  height: 1px;
  background-color: #222222;
  border-radius: 10px;
}

.left-page-margin {
  margin-left: 150px;
}

.right-page-margin {
  margin-right: 150px;
}

.bottom-margin {
  margin-bottom: 70px;
}

/* LOGO */
.logo {
  height: 50px;
  width: auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

/* NAVIGATION */
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

.nav-margin {
  margin-left: 50px;
}

/* FOOTER */
footer {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 180px;
}

footer p,
footer p a {
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  margin: 0;
}

footer .copyright-footer {
  margin-top: 5px;
}

/* HOME */
.title-main {
  font-size: 82px;
  font-weight: 900;
  line-height: 90px;
}

.title-description {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 60px;
}

.intro-image {
  width: 100%;
  height: auto;
}

/* ROUTES */
.routes-hero {
  margin-bottom: 70px;
}

.title-routes {
  font-size: 64px;
  font-weight: 900;
  line-height: 62px;
  /* color: #ffffff; */
}

.routes-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0px;
}

.routes-intro-text {
  margin-bottom: 70px;
}

.routes-intro-image {
  width: 100vw;
  height: auto;
}

.routes-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 450px;
  width: 355px;
  border: #333333 2px solid;
  border-radius: 30px;
  margin-bottom: 75px;
}

.card-img {
  margin: 15px;
  border-radius: 20px;
}

.card-title {
  margin-top: 10px;
}

.card-desc {
  margin-bottom: 25px;
}

.card-button {
  margin-bottom: 35px;
}

/* ROUTE */
.route-info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: auto;
  padding: 0px 60px;
  border-radius: 100px;
  background-color: #222222;
}

.route-info-bar-group {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.route-info-bar-group svg {
  margin-right: 15px;
  color: #ffffff;
}

.text-info-bar {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.text-image-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-image-group p {
  margin: 0;
  padding: 0;
}

.text-image-group figure {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.text-image-group img {
  border-radius: 30px;
}

.text-image-group figcaption {
  margin-top: 12px;
}

.return-button {
  display: flex;
  justify-content: end;
  margin: 75px 0;
}

/* ACCOUNT */

/* FORM */
.form-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 590px;
  border: #333333 2px solid;
  border-radius: 20px;
}

.form-complete form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-complete h1 {
  font-size: 42px;
  font-weight: 900;
  color: #333333;
  margin: 60px 0 70px 0;
}

.form-complete label {
  font-size: 20px;
  font-weight: 900;
  color: #333333;
  margin-bottom: 15px;
}

/* .form-complete input {
  margin-bottom: 50px;
} */

.form-complete input::placeholder {
  font-size: 20px;
  font-weight: 300;
  color: #9e9e9e;
}

.form-text-secondary {
  font-size: 20px;
  font-weight: 900;
  color: #333333;
  text-decoration: none;
}

.form-split p {
  font-size: 20px;
  font-weight: 300;
  color: #9e9e9e;
}

/* BUTTON */
button,
.label-button {
  font-size: 20px;
  font-weight: 900;
  width: 275px;
  height: 55px;
  border-radius: 100px;
  border: #222222 2px solid;
  background-color: transparent;
}

button a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.solid {
  background-color: #222222;
  color: #ffffff;
}

.solid a {
  color: #ffffff;
}

.icon-button svg {
  margin-right: 15px;
}
