* {
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

h2 {
  font-size: 42px;
  font-weight: 900;
}

hr {
  height: 2px;
  background-color: #222222;
  border-radius: 10px;
}

.left-page-margin {
  margin-left: 150px;
}

.right-page-margin {
  margin-right: 150px;
}

/* LOGO */
.logo {
  height: 50px;
  width: auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

/* NAVIGATION */
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

.current-page {
  font-weight: 900;
}

.nav-margin {
  margin-left: 50px;
}

/* FOOTER */
footer {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 180px;
}

footer p,
footer p a {
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  margin: 0;
}

footer .copyright-footer {
  margin-top: 5px;
}

/* HOME */
.title-main {
  font-size: 82px;
  font-weight: 900;
  line-height: 90px;
}

.title-description {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 60px;
}

.intro-image {
  width: 100%;
  height: auto;
}

/* Routes */
.routes-buttons {
}

.routes-titles {
  display: flex;
  flex: row;
  justify-content: space-between;
}

/* Button */
button {
  font-size: 20px;
  font-weight: 900;
  width: 275px;
  height: 55px;
  border-radius: 100px;
  border: #222222 2px solid;
  background-color: transparent;
}

button a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.solid {
  background-color: #222222;
}

.solid a {
  color: #ffffff;
}

.icon-button svg {
  margin-right: 15px;
}
